{% extends 'master.html' %}
{% load static %}

{% block title %}{{ cd.ten_chude }}{% endblock %}

{% block blogs %}
  <div class="mb-4">
    <a href="{% url 'tao_thaoluan_moi' cd.dien_dan.pk cd.pk%}" class="btn btn-primary" role="button">Thảo luận</a>
  </div>

  {% comment %} {% for tl in cd.cac_thaoluan.all %}  {% endcomment %}
  {% for tl in ctl %}
    <div class="card mb-2 {% if forloop.first %}border-dark{% endif %}">
      {% if forloop.first %}
        <div class="card-header text-white bg-dark py-2 px-3">{{ cd.ten_chude }}</div>
      {% endif %}

      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img src="{% static "app/img/user.jpg" %}" alt="{{ tl.tao_boi.username }}" class="w-100">
            <small>Posts: {{ tl.tao_boi.tao_thaoluan.count }}</small>
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ tl.tao_boi.username }}</strong>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted">{{ tl.ngay_tao }}</small>
              </div>
            </div>
            {{ tl.nd }}
            {% if tl.tao_boi == user %}
              <div class="mt-3">
                <a href="{% url 'sua_nd_thaoluan' tl.chu_de.dien_dan.pk tl.chu_de.pk tl.pk  %}" class="btn btn-primary btn-sm" role="button">Sửa</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock blogs %}