{% extends "master.html" %}
{% load static %}

{% block banner_slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "app/img/banner/c3.jpg" %}" class="d-block w-100" alt="" height="420">
    </div>
    <div class="carousel-item">
      <img src="{% static "app/img/banner/banner2.jpg" %}" class="d-block w-100" alt="" height="420">
    </div>
    <div class="carousel-item">
      <img src="{% static "app/img/banner/banner3.jpg" %}" class="d-block w-100" alt="" height="420">
    </div>
    <div class="carousel-item">
      <img src="{% static "app/img/banner/banner1.jpg" %}" class="d-block w-100" alt="" height="420">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
{% endblock banner_slider %}
{% block main_content %}
<div class="row mb-5" style="width:100%">
  {% for product in products %}
    <div class="col-lg-3 mt-2">
      <img style="width: 280px;height:250px;" src="{{ product.ImageURL }}" alt="">
      <div class="text-capitalize box-element product">
        <h6><strong>{{ product.product_name }}</strong></h6>
        <hr>
        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm giỏ hàng</button>
        <a class="btn btn-outline-primary" href="{% url 'chitiet' product.id %}">Xem</a>
        <h3 style="display: inline-block; float: right">${{ product.price | floatformat:0 }}</h3>
      </div>
    </div>
  {% endfor %}
</div> 
{% include "includes/pagination.html" %}

{% endblock main_content %}