{% extends 'master.html' %}
{% load static %}
{% block wishlist %}
  {% for i in wishlist %}
  <section style="background-color: #eee;">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{i.product.ImageURL}}"class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{i.product.product_name}}</h5>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{i.product.detail}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <form action="{% url 'remove_from_wishlist' i.product.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="text-muted" style="border: none; background: none; padding: 0;float:right;">
                      <i class="fas fa-times"></i>
                    </button>
                  </form>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">${{i.product.price | floatformat:0}}</h4>
                  </div>
                  <div class="d-flex flex-column mt-4">
                    <a class="btn btn-primary btn-sm" href="{% url 'chitiet' i.product.id %}">Xem</a>
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-primary btn-sm mt-2 update-cart">Thêm giỏ hàng </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock wishlist %}

